.valentine-container {
  position: relative;
  width: 80%;
  height: 80%;
  margin: auto;
}

.valentine-image {
  position: absolute;
  width: 120px;
  height: 120px;
  transition: transform 0.5s;
  opacity: 0.7;
}

.valentine-image:nth-child(1) {
  top: 0;
  left: 0;
  transform: rotate(15deg);
}

.valentine-image:nth-child(2) {
  top: 0;
  right: 0;
  transform: rotate(-15deg);
}

.valentine-image:nth-child(3) {
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(20deg);
}

.valentine-image:nth-child(4) {
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(-20deg);
}

.valentine-image:nth-child(5) {
  bottom: 0;
  left: 0;
  transform: rotate(25deg);
}

.valentine-image:nth-child(6) {
  bottom: 0;
  right: 0;
  transform: rotate(-25deg);
}